<ion-header>
  <ion-toolbar>
    <ion-title>Mí Resultado</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header class="card__area">
      <ion-card-subtitle>Tu area</ion-card-subtitle>
      <ion-card-title> {{ dataUniversity[1] }}</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card class="card__carrera">
    <ion-card-header>
      <ion-card-subtitle>Carreras Recomendadas</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let c of dataUniversity[2]">
        <ion-label>
          <h2>
            {{ c }}
          </h2>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
