<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> EduSmart </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content__message">
    <ion-label position="block">
      Al momento de precionar el boton para comenzar el test, deberas responder
      una serie de preguntas con la mayor sinceridad.
      <strong>No importa el resultado elige lo que te hace feliz!</strong>
    </ion-label>
    <ion-button (click)="onClick()" expand="block" size="large">
      <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
      Iniciar Test
    </ion-button>
  </div>
</ion-content>
