.content__message {
  font-size: 26px;
  text-align: justify;
  margin: 15px;

  ion-button {
    margin-top: 75px;
  }
}

ion-header {
  --ion-background-color: linear-gradient(90deg, #43cebb 0%, #1bdbc2 100%);
}
ion-content {
  --ion-background-color: #f5f5f3;
}
